body{
  background-color: rgb(198, 249, 247);
}
.calculator{
  border-radius: 10px;
  border: 0px solid black;
  margin:10px;
  padding:20px;
  width: 350px;
  height: 400px;

  margin-top: 60px;
  background-color:rgb(3, 100, 84);
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: rgb(0, 0, 2) 0px 3px 8px;
  
}

#display{
  display: flex;
  justify-content: center;
  width:300px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: white 0px 0px 8px;
  font-size: 30px;
  border: 0px solid rgb(154, 67, 162);
  color: black;

}

.row-1{
  display: flex;
  justify-content: space-around;
}
button{
  padding: 10px;
  margin: 6px;
  background-color: rgb(81, 227, 215);
  border-radius: 10px;
  box-shadow:white 0px 3px 8px;
  font-size: 20px;

  border: 1px solid pink;
  padding-left: 15px;
  padding-right: 15px;
}
button:hover{
  cursor: pointer;
  background-color: rgb(186, 185, 185);
}